@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Stacked Bar Chart</h2>
        <p>
            This is using Google Charts API
        </p>
        <div id="chart_div">></div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript" src="https://www.google.com/jsapi?autoload=
                {'modules':[{'name':'visualization','version':'1.1','packages':
                ['corechart']}]}"></script>
    <script type="text/javascript">
		$(document).ready(function ()
		{
		    google.setOnLoadCallback(drawChart);
		    function drawChart() {

		        $.getJSON("home/GetChartData", function (datastring) {

		            var data = JSON.parse(datastring);

		            data = google.visualization.arrayToDataTable(data);

		            var options = {
		                width: 1000,
		                height: 550,
		                legend: { position: 'top', maxLines: 3, textStyle: { color: 'black', fontSize: 16 } },
		                isStacked: true,

		                // Displays tooltip on selection.
		                // tooltip: { trigger: 'selection' }, 
		            };

		            var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
		            chart.draw(data, options);

		            // Selects a set point on chart.
		            // chart.setSelection([{row:0,column:1}]) 

		            // Renders chart as PNG image 
		            // chart_div.innerHTML = '<img src="' + chart.getImageURI() + '">';
		        });


		    }
		});
    </script>
}